
.calendar {
  width: 100%;
  .title {
    text-align: right;
    font-size: 2em;
  }
}

.weekdayLabels {
  margin-top: 20px;
  color: #CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .weeklyLabel {
    width: calc(100% / 7);
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color: #fff;
    height: 50px;
  }
}


.daysRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .daysCell {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    .complete {
      clip-path: circle(15%);
    }
  }

  &:last-child {
    display: flex;
    justify-content: flex-start;
  }
}

