.calendar {
  width: 100%;
  .title {
    text-align: right;
    font-size: 2em;
    .year {
      color: grey;
    }

    .month {
      color: red;
      text-transform: uppercase;
    }
  }
}