
.calendar {
  width: 100%;
  .title {
    text-align: right;
    font-size: 2em;
    .year {
      color: grey;
    }
    .month {
      color: red;
      text-transform: uppercase;
    }
  }
}

.weekdayLabels {
  margin-top: 20px;
  color: #CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .weeklyLabel {
    width: calc(100% / 7);
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background: #FF7C1F;
    color: #fff;
    height: 50px;
  }
}


.daysRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .daysCell {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    .square {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .complete {
      background: #FF7C1F;
      color: #FFF;
      clip-path: circle(15%);
    }
    .dateBtn {
      height: 50px;
      width: 50px;
      // background:red;
      border-radius: 50%;
      border: 10px solid red;
    }
  }

  &:last-child {
    display: flex;
    justify-content: flex-start;
  }
}

